label {
  font-weight: 100;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

input[type="text"] {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #ccc;
  outline: none;
  padding-left: 0.5rem;
  font-size: 1.8rem;
  margin-top: 1rem;
}

input[type="text"]:focus {
  border-bottom: 2px solid #333;
}

.config {
  line-height: 1.4;
  border: 1px solid #ccc;
  border-radius: 1.5rem;
  padding: 0.5rem 1.2rem;
  margin: 1rem 0;
}

.config-display {
  padding: 1rem 2rem;
}

.header {
  font-weight: 300;
  font-size: 5rem;
  margin: 2rem 0;
}

.config-header {
  font-weight: 100;
  font-size: 5rem;
  margin: 1rem 0;
}

button {
  display: inline-block;
  background-color: white;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 0.5rem 1.2rem;
  margin-right: 1rem;
  cursor: pointer;
}
button:hover {
  color: white;
  background-color: #333;
}
